.grid_container {
    width: 1180px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 380px 20px) 380px;
    grid-template-rows: 120px 300px 20px 160px 64px 206px;
    grid-template-areas: " Header Header Header Header Header"
        " figure figure figure .  aside"
        ". . . . aside"
        " headtext . info . aside"
        " . . . . ."
        " card1 . card2 . card3 ";
}

header {
    grid-area: Header;
    display: inline-flex;
    padding: 31px 0px;
    justify-content: center;
    align-items: center;
    gap: 725px;
}

ul {
    display: flex;
    height: 19px;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

figure {
    grid-area: figure;
    background-image: url(../img/banner.svg);
    object-fit: cover;
}

.headtext {
    grid-area: headtext;
    color: #000;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    width: 281px;

}

.main_info {
    grid-area: info;
    color: #484F5E;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;

}

button {
    display: flex;
    height: 48px;
    padding: 15px 54px 14px 53px;
    justify-content: center;
    align-items: center;
    background: #F15D51;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    border: none;
    margin-top: 35px;
}

aside {
    background: #00001A;
    grid-area: aside;
    padding: 32px 32px 64px 32px;

}

.asidehead {
    color: #FFA24C;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    margin-bottom: 24px;
}

.asidesection1 {
    display: flex;
    width: 316px;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 14px;
}

.asidetitle {
    color: #FCFCFC;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;

}

.asidetext {
    color: #B3BFD7;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    width: 316px;
    margin-bottom: 25px;
}

.Line {
    margin-bottom: 24px;
}

.card1 {
    grid-area: card1;
    background-color: white;
    display: flex;
}

.cardinner {
    margin-left: 10px;
}

.cardhead {
    color: #CAC9CD;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 18px;


}

.cardtitle {
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 10px;
}

.cardmaintext {
    color: #484F5E;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    width: 186px;
   
}

.card2 {
    grid-area: card2;
    background-color: white;
    display: flex;
}

.card3 {
    grid-area: card3;
    background-color: white;
    display: flex;
}